@tailwind base;
@tailwind components;
@tailwind utilities;
.input{
  @apply outline-none border-2 border-gray-300 py-2 px-4 text-sm w-full rounded-md
}
.button{
  @apply px-4 py-2 text-white rounded-lg
}
.sidenav{
  @apply hidden sm:block sm:w-[20%] bg-blue-600 text-white h-full
}
.main-div{
  @apply w-full sm:w-[80%] overflow-y-scroll bg-white relative
}
.sidenav-link{
  @apply w-full py-2 px-2 lg:px-4 bg-blue-600 text-sm hover:bg-blue-700/80  flex items-center
}
.sidenav-active{
  @apply w-full py-2 px-2 lg:px-4 text-sm bg-white text-blue-700 font-semibold rounded-lg my-1 flex items-center 
}
.avatar{
  @apply rounded-full overflow-hidden bg-gray-300
}
.avatar-img{
  @apply  w-full h-full object-cover bg-center
}
.dashboard-nav{
  @apply hidden md:flex justify-between items-center p-2 border-[1px] border-gray-200 bg-white left-0 top-0 w-full z-10 bg-white sticky
}
.search{
  @apply outline-none bg-gray-50 rounded-lg px-2 py-1 text-sm border-[1px] border-gray-300
}